@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --extralarge-fs: 50px;
  --large-fs: 36px;
  --medium-fs: 24px;
  --small-fs: 18px;
  --very-small-fs: 14px;
  --normal-fs: 16px;
}

/*====================================*/
/*========GENERAL STYLES=================*/
/*===================================*/
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: blueviolet;
}

::selection {
  color: white;
  background: blueviolet;
}

a {
  text-decoration: none;

}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/*====================================*/
/*========Navigation STYLES=================*/
/*===================================*/
/*  {
  position: relative;
} */


.nav-container {
  width: 100%;
  background: blueviolet;

  overflow-x: hidden;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.nav-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-container .logo a {
  font-family: 'opensans-bold';
  color: #ffffff;
  font-weight: 900;
}




header .nav-container .desktop-menu button {
  display: none;
}



.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.container {
  padding: 20px 30px;
}


.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}


/*========Mobile media queries=================*/

@media screen and (max-width: 700px) {

  header .desktop-menu ul {
    display: none;
  }

  header .nav-container .desktop-menu button {
    display: block;
  }

}

.desktop-menu ul li {
  padding: 0 20px;
}

.desktop-menu ul li a {
  font-family: 'opensans-light';
  font-weight: 700;
  color: #ffffff;
}

.desktop-menu ul li a:hover {
  color: #000000;
}


/*====================================*/
/*========Mobile menu styles================*/
/*===================================*/

.mobile__menu--container {
  background: blueviolet;
  display: none;
  width: 40vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

/*========Mobile media queries=================*/

@media screen and (min-width:900px) {
  .mobile__menu--container {
    display: none;

  }

}

.mobile__menu--container .mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 50px;
}

.mobile__menu--container .mobile__menu ul li a {
  font-family: 'opensans-light';

}

/*========Mobile media queries=================*/

@media screen and (max-width:700px) {

  .mobile__menu .mobile__menu--container {
    width: 60vw;
  }
}

.mobile__menu--container .mobile__menu ul {
  list-style: none;
}

.mobile__menu--container .mobile__menu ul li {
  padding: 20px 0;

}

.mobile__menu--container .mobile__menu ul li a {
  font-size: var(--normal-fs);
  font-weight: 900;
  color: #ffffff;
  padding: 20px 0;

}



/*====================================*/
/*========MAIN STYLES=================*/
/*===================================*/

main {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: var(--large-fs);
  font-family: 'opensans-semibold';
  color: #000000;
  margin-top: 50px;
  margin: auto;
}

.about-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 1rem;
  /* align-items: center; */
  padding-bottom: 50px;
}

.about-section picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.about-section picture img {
  border-radius: 15px;
  border-right: 5px solid blueviolet;
}

.about-section p {
  width: 60%;
  line-height: 1.5;
  font-size: var(--small-fs);
  font-family: "opensans-regular", sans-serif;
  color: rgba(48, 47, 47, 0.678);
}


/*========Mobile media queries=================*/
@media screen and (max-width: 1920px) {


  .about-section p {
    width: 50%;
  }

}

@media screen and (max-width: 1200px) {


  .about-section p {
    font-size: var(--normal-fs);
    width: 70%;
  }
}

@media screen and (max-width: 800px) {


  h1 {
    text-align: center;
  }

  .about-section {
    flex-direction: column;
    row-gap: 50px;
  }


  .about-section p {
    font-size: var(--normal-fs);
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .about-section {
    flex-direction: column;
  }

  .about-section p {
    font-size: var(--very-small-fs);

  }
}

@media screen and (max-width: 700px) {

  header .desktop-menu ul {
    display: none;
  }

  header .nav-container .desktop-menu button {
    display: block;
  }

  .about-section p {
    font-size: var(--very-small-fs);

  }
}

/*========SOCIAL LINKS STYLES=================*/

.social .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.social .social-links a {
  padding: 0 10px;
}

.social .social-links a i {
  color: blueviolet;
}

/*====================================*/
/*========Footer STYLES=================*/
/*===================================*/

footer {
  background-color: #ba96db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer p {
  font-size: 12px;
  font-family: "opensans-regular", sans-serif;
}

footer p a {
  text-decoration: underline;
  color: black;
}