@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --extarlarge-font-size: 50px;
  --large-font-size: 36px;
  --medium-font-size: 24px;
  --normal-font-size: 16px;
}

html,
body {
  width: 100%;
}

body {
  background: hsla(197, 100%, 63%, 1);

  background: linear-gradient(90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%);

  background: -moz-linear-gradient(90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%);

  background: -webkit-linear-gradient(90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1);
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: blueviolet;
}

::selection {
  color: white;
  background: blueviolet;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: var(--extarlarge-font-size);
  font-family: "Cinzel", serif;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: var(--medium-font-size);
  font-family: "Cinzel", serif;
  color: #ffffff;
}

h2 span {
  color: rgb(0, 0, 0);
  font-size: var(--medium-font-size);
}

nav {
  margin-top: 50px;

}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "opensans-regular", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding: 10px 0;
  transition: all 0.6s ease;
  backface-visibility: hidden;
}

nav a:hover {
  color: white;
  font-weight: bold;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: hsla(197, 100%, 63%, 1);

  background: linear-gradient(90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%);

  background: -moz-linear-gradient(90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%);

  background: -webkit-linear-gradient(90deg,
      hsla(197, 100%, 63%, 1) 0%,
      hsla(294, 100%, 55%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1);
}

.close-menu {
  display: none;
}

.fa-times {
  color: #ffffff;
  font-size: var(--large-font-size);
}

.col-1 .social-links {
  display: flex;
}

.col-1 .social-links a {
  padding: 20px 20px;
}

.col-1 .social-links a i {
  color: black;
}

.col-1 .social-links a i:hover {
  color: #ffffff;
}

.col-2 {
  width: 50%;
  height: 100vh;
}

.col-2 .open-menu {
  display: none;
  z-index: 12;
  position: absolute;
  right: 5%;
}

img {
  position: absolute;
  right: 0;
}



/*==============================================================*/
/*======================== MEDIA QUERIES ===================*/
/*=============================================================*/

@media screen and (max-width: 1200px) {
  body {
    background-image: linear-gradient(rgba(157, 30, 161, 0.308),
        rgba(157, 30, 161, 0.308)),
      url(/assets/img/jackson-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .col-1 {
    display: none;
    z-index: 15;
    width: 100%;

    padding-top: 150px;
  }

  .close-menu {
    display: block;
    text-align: center;
    position: absolute;
    margin-bottom: 50px;
    top: 5%;
    right: 5%;
  }

  .col-2 {
    display: block;
    z-index: 12;
    position: absolute;
    right: 0;
  }

  .col-2 .open-menu {
    display: block;
    z-index: 90;
    position: absolute;
    top: 5%;
    right: 10%;
  }

  .col-2 img {
    display: none;
  }

  nav {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(rgba(157, 30, 161, 0.308),
        rgba(157, 30, 161, 0.308)),
      url(/assets/img/jackson-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .col-1 {
    display: none;
    z-index: 15;
    width: 100%;

    padding-top: 150px;
  }

  .close-menu {
    display: block;
    text-align: center;
    position: absolute;
    margin-bottom: 50px;
    top: 5%;
    right: 5%;
  }

  .col-2 {
    display: block;
    z-index: 12;
    position: absolute;
    right: 0;
  }

  .col-2 .open-menu {
    display: block;
    z-index: 90;
    position: absolute;
    top: 5%;
    right: 10%;
  }

  nav {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(rgba(157, 30, 161, 0.308),
        rgba(157, 30, 161, 0.308)),
      url(/assets/img/jackson-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  h1, h2 {
    text-align: center;
  }

  h2 {
     padding: 2rem 0;
  }


  .col-1 {
    display: none;
    z-index: 15;
    width: 100%;
    padding-top: 100px;
  }

  .close-menu {
    display: block;
    text-align: center;
    position: absolute;
    margin-bottom: 50px;
    top: 5%;
    right: 5%;
  }

  .col-2 {
    display: block;
    z-index: 12;
    position: absolute;
    right: 0;
  }

  .col-2 .open-menu {
    display: block;
    z-index: 90;
    position: absolute;
    right: 5%;
  }

  nav {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  body {
    background-image: linear-gradient(rgba(157, 30, 161, 0.308),
        rgba(157, 30, 161, 0.308)),
      url(/assets/img/jackson-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .col-1 {
    display: none;
    z-index: 15;
    width: 100%;

    padding-top: 100px;
  }

  .close-menu {
    display: block;
    text-align: center;
    position: absolute;
    margin-bottom: 50px;
    top: 5%;
    right: 5%;
  }

  .col-2 {
    display: block;
    z-index: 12;
    position: absolute;
    right: 0;
  }

  .col-2 .open-menu {
    display: block;
    z-index: 90;
    position: absolute;
    right: 5%;
  }

  nav {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}